---
import { Image } from "astro:assets";
import SalonImg from "/public/salon.svg";
import GaleryOne from "../img/galery.jpg";
import GaleryTwo from "../img/galery-2.jpg";
import GaleryThree from "../img/galery-3.jpg";
import GaleryFour from "../img/galery-4.jpg";
import GaleryFive from "../img/galery-5.jpg";
import GalerySix from "../img/galery-6.jpg";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import IconStraigthen from "../components/icons/IconStraighten.astro";
import IconScissor from "../components/icons/IconScissor.astro";
import IconTinte from "../components/icons/IconTinte.astro";
import IconRazer from "../components/icons/IconRazer.astro";
import IconInstagram from "../components/icons/IconInstagram.astro";
import IconFacebook from "../components/icons/IconFacebook.astro";
import IconLocation from "../components/icons/IconLocation.astro";
import IconPhone from "../components/icons/IconPhone.astro";
import ServiceIcon from "../components/ServiceIcon.astro";
import ButtonHeader from "../components/ButtonHeader.astro";
import Section from "../components/Section.astro";
import DataSection from "../components/DataSection.astro";
import LinkContact from "../components/LinkContact.astro";
---

<Layout title="Landing Page">
  <Header />
  <main id="home">
    <section
      class="w-full max-h-svh h-[950px] flex justify-center items-center px-56 max-xl:px-12 max-md:px-6 max-md:h-[500px]"
    >
      <div
        class="w-full flex flex-col gap-10 items-center justify-center max-w-[1440px]"
      >
        <header class="w-full flex flex-col items-center justify-center gap-6">
          <h1
            class="text-pink-300 font-bold text-8xl text-center 2xl:text-9xl max-md:text-[78px]"
          >
            Forbici Stilisti
          </h1>
          <p
            class="text-3xl text-white opacity-80 2xl:text-4xl max-md:text-center max-md:text-[28px]"
          >
            Especialistas en Corte/Colorimetria
          </p>
        </header>
        <footer class="w-full flex flex-wrap justify-center items-center gap-6">
          <ButtonHeader
            class="bg-pink-400 hover:bg-opacity-90"
          />
          <ButtonHeader
            class="bg-transparent hover:bg-white hover:border-white hover:bg-opacity-90 hover:text-pink-400"
          />
        </footer>
      </div>
    </section>

    <Section id="service">
      <div class="w-full h-full flex flex-col max-w-[1440px] gap-10">
        <header class="w-full flex justify-star">
          <h2 class="text-pink-200 font-bold text-5xl">Servicios</h2>
        </header>
        <div class="w-full grid grid-cols-auto-fit gap-3">
          <ServiceIcon title="Corte">
            <IconScissor class="w-16 2xl:w-20" />
          </ServiceIcon>
          <ServiceIcon title="Alisado">
            <IconStraigthen class="w-16 2xl:w-20" />
          </ServiceIcon>
          <ServiceIcon title="Tintura">
            <IconTinte class="w-16 2xl:w-20" />
          </ServiceIcon>
          <ServiceIcon title="Rasurado">
            <IconRazer class="w-16 2xl:w-20" />
          </ServiceIcon>
        </div>
      </div>
    </Section>

    <Section id="history">
      <div class="w-full h-full flex flex-col max-w-[1440px] gap-10">
        <header class="w-full flex justify-star">
          <h2 class="text-pink-200 font-bold text-5xl">Historia</h2>
        </header>
        <footer class="flex gap-8 text-lg 2xl:text-xl max-2xl:flex-wrap">
          <p class="text-white">
            Lorem ipsum dolor <span class="text-pink-400"
              >sit amet consectetur</span
            >, adipisicing elit. Quas laboriosam rem officia quisquam vero,
            reprehenderit consequuntur suscipit repellat tempora itaque <span
              class="text-pink-400">voluptatum cupiditate</span
            > possimus laudantium in quidem unde neque nam a.
          </p>
          <p class="text-white">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas
            laboriosam rem officia quisquam vero, reprehenderit consequuntur
            suscipit repellat tempora itaque voluptatum cupiditate possimus
            laudantium <span class="text-pink-400"
              >in quidem unde neque nam a</span
            >.
          </p>
        </footer>
      </div>
    </Section>

    <Section>
      <div class="w-full h-full flex max-w-[1440px] gap-10">
        <picture class="w-full grid place-content-center">
          <Image
            class="w-96 xl:w-[480px] 2xl:w-[600px]"
            src={SalonImg}
            alt="Salon"
          />
        </picture>
      </div>
    </Section>

    <Section>
      <div class="w-full h-full flex flex-col max-w-[1440px] gap-10">
        <div
          class="w-full h-full grid grid-cols-auto-fit gap-y-4 text-white text-2xl bg-gray-400 rounded-2xl bg-clip-padding backdrop-filter backdrop-blur-2xl bg-opacity-10 px-6 py-12 2xl:text-3xl max-xl:px-3 max-xl:py-8"
        >
          <DataSection number="+10" text="A침os" />
          <DataSection number="+500" text="Clientes" />
          <DataSection number="+12" text="A침os" />
          <DataSection number="+40" text="Clientes" />
        </div>
      </div>
    </Section>

    <Section id="galery">
      <div class="w-full h-full flex flex-col max-w-[1440px] gap-10">
        <header class="w-full flex justify-star">
          <h2 class="text-pink-200 font-bold text-5xl">Galeria</h2>
        </header>
        <div class="w-full h-full grid grid-cols-auto-fit gap-3">
          <Image
            class="object-cover h-60 w-full rounded-lg 2xl:h-96"
            src={GaleryOne}
            alt="Corte de Pelo"
          />
          <Image
            class="object-cover h-60 w-full rounded-lg 2xl:h-96"
            src={GaleryTwo}
            alt="Corte de Pelo"
          />
          <Image
            class="object-cover h-60 w-full rounded-lg 2xl:h-96"
            src={GaleryThree}
            alt="Corte de Pelo"
          />
          <Image
            class="object-cover h-60 w-full rounded-lg 2xl:h-96"
            src={GaleryFour}
            alt="Corte de Pelo"
          />
          <Image
            class="object-cover h-60 w-full rounded-lg 2xl:h-96"
            src={GaleryFive}
            alt="Corte de Pelo"
          />
          <Image
            class="object-cover h-60 w-full rounded-lg 2xl:h-96"
            src={GalerySix}
            alt="Corte de Pelo"
          />
        </div>
      </div>
    </Section>

    <Section id="contact">
      <div class="w-full h-full flex flex-col max-w-[1440px] gap-10">
        <header class="w-full flex justify-star">
          <h2 class="text-pink-200 font-bold text-5xl">Contacto</h2>
        </header>
        <footer
          class="w-full h-full flex flex-wrap text-lg 2xl:text-xl gap-5 text-white"
        >
          <LinkContact
            href="https://www.google.com/maps/place/Forbici+Stilisti/@-34.5749891,-58.4827971,15z/data=!4m2!3m1!1s0x0:0xe224e909fd5f437a?sa=X&ved=2ahUKEwiphKHPjquEAxUiqJUCHUuzD1gQ_BJ6BAgwEAA"
            title="Direcci칩n de nuestro local"
            content=`Ubicaci칩n: 2194, FIH,
          Pacheco, C1431 DF`
          >
            <IconLocation slot="icon" class="w-6 2xl:min-w-8" />
          </LinkContact>
          <LinkContact
            href="tel:45236782"
            title="Escribinos para cualquier consulta"
            content="Telefono: 4523-6782"
          >
            <IconPhone slot="icon" class="w-6 2xl:min-w-8" />
          </LinkContact>
          <LinkContact
            href="https://www.instagram.com/forbicistilisti/?hl=es"
            title="Seguinos en Instagram"
            content="Instagram"
          >
            <IconInstagram slot="icon" class="w-6 2xl:min-w-8" />
          </LinkContact>
          <LinkContact
            href="https://www.facebook.com/forbicistilisti/?locale=es_LA"
            title="Seguinos en Facebook"
            content="Facebook"
          >
            <IconFacebook slot="icon" class="w-6 2xl:min-w-8" />
          </LinkContact>
        </footer>
      </div>
    </Section>
  </main>
</Layout>
